<h1>All of our exercises <%= link_to "New Exercise", new_exercise_path, class: "btn btn-outline-primary" %></h1>
<div class="container">
  <div class="row justify-content-md-center" style="margin-bottom: 20px;">
    <% @exercises.each do |exercise| %>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('')">
        <h1><%= link_to exercise.name, exercise, class: "card-title btn btn-outline-dark mx-auto" %></h1>     
      </div>
    </div> 
    <% end %>
  </div>
</div>